<div class="user">
  <img src="assets/icons/user.svg" class="avatar">

  <div class="user-block">
    <span class="user-block__username"> Username </span>
    <div class="user-block__info">
      <div class="user-block__item">
        <img src="assets/icons/followers.svg">
        <span>1.5k</span>
      </div>
      <div class="user-block__item">
        <img src="assets/icons/tracks.svg">
        <span>1.5k</span>
      </div>
    </div>
  </div>

  <button class="follow-btn"> FOLLOW</button>
</div>
<div class="splitter"></div>